@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Sriracha&display=swap');

:root {
    --titulo-font: 'Passion One', cursive;
    --poema-font: 'Sriracha', cursive;
    --padrao-font: 'Verdana', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    min-height: 100%;
    background-color: darkgray;
    font-family: var(--padrao-font);
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    text-decoration: underline;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--titulo-font);
    font-size: 10vw;
}

header p {
    padding-bottom: 50px;
}

section {
    padding: 10vh 0;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--poema-font);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(44, 44, 44);
    color: white;
    box-shadow: inset 6px 6px 13px 0 rgba(0, 0, 0, 0.463);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.509);
    text-shadow: 1px 1px 0px black;
}

section#img1 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

section#img2 {
    background-image: url('../imagens/background002.jpg');
}

footer {
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
}
